{% extends "cadmin_core/base.html" %}
{% load static %}
{% load custom_filter %}

{% block breadcrumb %}
	<div class="header-body-left">

		<h3 class="page-title">ساخت پکیج جدید</h3>

		<!-- begin::breadcrumb -->
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">داشبورد</a></li>
				<li class="breadcrumb-item"><a href="{% url 'cadmin_packages' %}">پکیج ها</a></li>
				<li class="breadcrumb-item active" aria-current="page">لیست پکیج ها</li>
			</ol>
		</nav>
		<!-- end::breadcrumb -->

	</div>
{% endblock breadcrumb %}

{% block main %}
	<!-- begin::main content -->
	<main class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="h4 card-title mb-0">لیست محصول --- '{{ product.title | truncatewords:10 }}'</h6>
                                <a href="{% url 'cadmin_create_packages' %}" class="btn btn-success">ساخت پکیج جدید</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>رنگ</th>
                                            <th>تامین کننده</th>
                                            <th>قیمت</th>
                                            <th>تخفیف</th>
                                            <th>قیمت نهایی</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in packages %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <a href="{% url 'cadmin_product_edit_package' p.package.product.pk p.package.product.slug %}">{{ p.package.color_name }}</a>
                                            </td>
                                            <td class="text-muted h6">
                                                <a href="{% url 'cadmin_product_edit_package' p.package.product.pk p.package.product.slug %}">{{ p.package.suppliers.first.title }}</a>
                                            </td>
                                            <td class="text-muted h6">{{ p.package.price | currency }}</td>
                                            <td class="text-muted h6">{{ p.package.product.discount }}%</td>
                                            <td class="text-muted h6">{{ p.final_price | currency }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
	<!-- end::main content -->
{% endblock main %}